
  <% @resources.each do |resource| %>
    <div class= "notification-content p-3">
      <ul class="list-group list-group-flush">
        <p><strong><%= resource.name %></strong>
        <br><%= resource.address %>
        <br><%= resource.state %>
        <br><%= resource.website%>
        <br><%= resource.phone%>
        <br><%= resource.email%>
        <br><%= resource.categories.pluck(:name).join(', ') %>
        <br>
        <br>Status of resource is <b><%= resource.status%></b>
        <br>
        <div class="notification-actions">
          <% if resource.status == "Pending" %>
            <div class="d-inline-flex">
              <%= link_to 'Approve', resources_approve_path(resource), :method => 'patch', class: "yellowbutton btn-sm text-decoration-none"%>
              <%= link_to 'Decline', resources_decline_path(resource), :method => 'patch', class: "yellowbutton btn-sm text-decoration-none"%>
            </div>
          <% end  %>
        </div>
      </ul>
    </div>
  <% end %>
