<div class= "notification m-4 p-3">
    <% @resources.each do |resource| %>
    <div class= "notification-content p-3">
      <p><strong><%= resource.name %></strong>
        <br><%= resource.address %>
        <br><%= resource.state %>
        <br><%= resource.website%>
        <br><%= resource.phone%>
        <br><%= resource.email%>
        <br><%= resource.categories.pluck(:name).join(', ') %>
        <br>
        <br>Status of resource is <b><%= resource.status%></b>
        <br>
      </p>
           <% if resource.status == "Pending" %> <br> This resource still needs to be reviewed.
      <% elsif resource.status == "confirmed" %> <br> This resource has been reviewed and approved
    <% end  %>

    <div class="notification-actions">
          <% if resource.status == "Pending" %>
          <%= link_to 'Approve', resources_approve_path(resource), :method => 'patch', class: "btn btn-secondary m-5"%>
          <%= link_to 'Decline', resources_decline_path(resource), :method => 'patch', class: "btn btn-secondary m-5"%>
          <% end  %>
      </div>
    </div>
  <% end %>
</div>
