  <div class="unsolved-messages">
    <% @messages_unsolved.each do |message| %>
      <div class="notification-content p-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Resource: </strong><%= message.resource.name%></li>
          <li class="list-group-item"><strong>User: </strong><%= message.user.email.split('@')[0].capitalize%></li>
          <li class="list-group-item"><strong>Message: </strong><%= message.content%></li>
        <% if message.solved == false %>
          <li class="list-group-item">This submition need to be reviewed</li>
          <li class="list-group-item">
          <%= link_to 'Reviewed', messages_review_path(message), :method => 'patch', class: "yellowbutton btn-sm text-decoration-none"%>
          </li>
        <% elsif resource.status == true %>
          <li class="list-group-item">This submition has been reviewed</li>
        <% end  %>
        </ul>
      </div>
    <%end%>
  <div class="solved-messages">
    <% @messages_solved.each do |message| %>
      <%= message.content%>
      <%= message.user.email%>
    <%end%>
  </div>
</div>
