<div class="dashboard_banner">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('dashboard_banner.png') %>)">
    <h1><%= t("Admin Dashboard") %></h1>
  </div>
 </div>
</div>

<div class="container">
  <div class= "notification card m-4 p-3">
    <h1>New resources submited</h1>
    <% @resources.each do |resource| %>
      <div class= "notification-content p-3">
        <%# <a href=""><%= image_tag "basil.jpg", class: "avatar-large" %></a> %>
        <p><strong><%= resource.name %></strong>
        <br><%= resource.address %>
        <br><%= resource.website%>
        <br><%= resource.phone%>
        <br><%= resource.state %>
        <br><%= resource.categories.pluck(:name).join(',') %>
        <br>Status of resource is <b><%= resource.status%> </b>.
        <% if resource.status == "Pending" %> <br> This resource need to be reviewed
        <% elsif resource.status == "Approved" %> <br> This resource need to be reviewed
        <% end  %>
        </p>

      <div class="notification-actions">
        <%# <a href=""><%= link_to 'Edit my resource', edit_resource_path(resource)%><i class="fas fa-pencil-alt"></i> </a> %>
        <%# <a href=""><%= link_to 'Cancel', resource_path(resource),
            method: :delete,
            data: { confirm: "Are you sure you want to cancel?" } %> <i class="far fa-trash-alt"></i> </a> %>
      </div>
    </div>
  <% end %>
  </div>
</div>
