<div class="split left background">
    <div class="centered ">
        <%= image_tag "aushello_logo.png", class:"logo" %>
        <h3>Tell us what is wrong</h3>
        <%= link_to "Back Home", resources_path, class: "orgbutton btn btn-secondary m-5" %>
    </div>
</div>
<div class="split right">
    <div class= "background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('aushellodashboard1.png') %>)">
        <div class="centered">
            <div class="card">
                <div class="container p-2">
                    <div class="card-body">
                        <%= simple_form_for [@resource, @message] do |f| %>
                            <%= f.input :content, :label => "Please describe your issue as best you can" %>
                            <%= f.button :submit, "Submit", class: "orgbutton btn btn-secondary mr-2" %>
                            <%= f.button :button, "Cancel", type: "reset", class: "text-decoration-none clear" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
