<div class="split left">
  <div class= "background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('refugee.jpg') %>)">
    <div class="centered">
      <div class="card p-4">
        <div class="card-title">
        <h2><%= t("Welcome") %></h2>
        </div>
        <div>
          <%= link_to t("English"), root_path(locale: :en) %>
        </div>
        <br />
        <div>
          <%= link_to t("Spanish"), root_path(locale: :es) %>
        </div>
        <br />
        <div>
          <%= link_to t("Arabic"), root_path(locale: :ar) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <%= image_tag "aushello_logo.png", class:"logo" %>
    <h3><%= t("Slogan") %></h3>
    <%= link_to t("Search Now"), resources_path, class: "orgbutton btn btn-secondary m-5" %>
  </div>
</div>
