  <h3><%= resource.name %></h3>
  <h6><%= resource.category %></h6>
  <p>Address: <br><%= resource.address %></p>
  <p>Contact: <br><%= resource.phone %></p>
  <p>Description: <br><%= resource.description %></p>
  <p>Email: <%= mail_to resource.email %></p>
  <br>
  <a href="#" target="_blank">Is this information wrong?</a>
  <br>
  <br>
  <a href="<%= resource.website %>" target="_blank">Website</a> |
  <a href="<%= resource.phone %>">Call</a> |
  <a href="https://www.google.com/maps/" target="_blank">Directions</a>
