

<div data-controller="update-fave-button">
  <div id="heart" data-update-fave-button-target="items">
    <% favourite = resource.favourited_by_user?(current_user) %>
    <% if favourite %>
      <%= link_to icon('fas', 'heart'), favourite_path(favourite), method: :delete, remote:true, data: {update_fave_button_target: "button", action: 'click->update-fave-button#unfave'}  %>
    <% else %>

      <%= link_to icon('far', 'heart'), resource_favourites_path(resource), method: :post, remote:true, data: {update_fave_button_target: "button", action: 'click->update-fave-button#fave'} %>
    <% end %>
  </div>
</div>


  <h3><%= resource.name %></h3>
  <h6><%= resource.categories.pluck(:name).join(',') %></h6>
  <p><%= t("Address")  %>: <br><%= resource.address %></p>
  <p><%= t("Contact")  %>: <br><%= resource.phone %></p>
  <p><%= t("Description") %>: <br><%= resource.description %></p>
  <p><%= t("Email")  %>: <%= mail_to resource.email %></p>
  <br>
  <%= link_to "#newTag", data: { toggle: "modal" } do %>
    <i class="fa fa-wrench"></i> Is this information wrong?
  <% end %>

  <br>
  <br>
  <a href="<%= resource.website %>" target="_blank"><%= t("Website")  %></a> |
  <a href="<%= resource.phone %>"><%= t("Phone")  %></a> |
  <a href="https://www.google.com/maps/" target="_blank"><%= t("Directions")  %></a>
