<% favourite = resource.favourited_by_user?(current_user) %>
<% if favourite %>
  <%= link_to icon('fas', 'heart'), favourite_path(favourite), method: :delete, remote: true %>
<% else %>
  <%= link_to icon('far', 'heart'), resource_favourites_path(resource), method: :post, remote: true %>
<% end %>

  <h3><%= resource.name %></h3>
  <h6><%= resource.categories.pluck(:name).join(',') %></h6>
  <p><%= t("Address")  %>: <br><%= resource.address %></p>
  <p><%= t("Contact")  %>: <br><%= resource.phone %></p>
  <p><%= t("Description") %>: <br><%= resource.description %></p>
  <p><%= t("Email")  %>: <%= mail_to resource.email %></p>
  <br>
  <%= link_to "#newTag", data: { toggle: "modal" } do %>
    <i class="fa fa-wrench"></i> Is this information wrong?
  <% end %>

  <br>
  <br>
  <a href="<%= resource.website %>" target="_blank"><%= t("Website")  %></a> |
  <a href="<%= resource.phone %>"><%= t("Phone")  %></a> |
  <a href="https://www.google.com/maps/" target="_blank"><%= t("Directions")  %></a>
