<div class= container>
  <div id="seach-banner">
    <h1>Categories</h1>
    <%= form_tag resources_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Write a city or resource here"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <%# <%= simple_form_for @resources do |f| %>
    <%# <%= f.input :categories,
              as: :radio_buttons,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item',
              input_html: {class: 'category-selector'},
              collection: Snippet::CATEGORIES %>
    <%# <% end %>
  </div>
</div>
