<div class="container">
  <div id="seach-banner">
    <div class= "container flex m-4">
      <%= form_tag resources_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: t("Search By City or Resource") %>
      <%= submit_tag t("Search Now"), class: "btn btn-primary" %>
      <% end %>
    </div>

  <div class="categories">
    <h3>Categories</h3>


<%# @resources.each do |resource| %>
<%#= raw resource.category_list.map { |t| link_to t, resources_url(t) }.join(', ') %>
      <%# end %>
  <%# </div> %>




    <%# <%= simple_form_for @resources do |f| %>
    <%# <%= f.input :categories,
              as: :radio_buttons,
              collection_wrapper_category: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item',
              input_html: {class: 'category-selector'},
              collection: Snippet::CATEGORIES %>
    <%# <% end %>
  </div>
</div>
