<div class="split left background">
  <div class="centered ">
    <%= image_tag "aushello_logo.png", class:"logo" %>
    <h3>Help us provide more services</h3>
    <%= link_to "Back Home", resources_path, class: "orgbutton btn btn-secondary m-5" %>
  </div>
</div>

<div class="split right">
 <div class= "background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('aushellodashboard1.png') %>)">
    <div class="centered">
      <div class="card">
        <div class="container p-2">
          <div class="card-body">
          <h3>Register Your Organisation</h3>
            <%= simple_form_for @resource do |f| %>
              <%= f.input :name %>
              <%= f.input :address, placeholder: '15 Church street, Richmond VIC 3121'%>
              <%= f.input :website, placeholder: 'https://www.helprefugee.com.au'%>
              <%= f.input :phone, placeholder: '03 8398 4171' %>
              <%= f.input :email, placeholder: 'info@refugee.com' %>
              <%= f.input :state, collection: Resource::STATES, prompt: :translate %>
              <%= f.input :category_list, collection: Resource::CATEGORIES, input_html: { multiple: true }%>
              <%= f.button :submit, "Submit", class: "orgbutton btn btn-secondary mr-2" %>
              <%= f.button :button, "Cancel", type: "reset", class: "text-decoration-none clear" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
