<!DOCTYPE html>

<html>
  <head>
    <title>AUSHELLO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
    <style>
        /* width */
        ::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey;
          border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #ff491e;
          border-radius: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #ff491e;
        }
    </style>
  </head>

  <body>
    <% unless action_name == "home" %>
      <%= render 'shared/navbar' %>
    <% end %>
      <%= render 'resources/search_banner' if current_page?(resources_path) %>
      <%= render 'shared/flashes' %>
      <%= render "shared/modal" %>
    <%= yield %>
  </body>
</html>
